---
import LayoutBare from "../layouts/LayoutBare.astro";
import Navbar2 from "../components/v2/Navbar2.astro";
import Hero2 from "../components/v2/Hero2.astro";
import TrustMarquee2 from "../components/v2/TrustMarquee2.astro";
import Fleet2 from "../components/v2/Fleet2.astro";
import HowItWorks2 from "../components/v2/HowItWorks2.astro";
import Gallery2 from "../components/v2/Gallery2.astro";
// Testimonials2 entfernt 2026-04-18: keine echten Reviews vorhanden,
// Fake-Testimonials wären UWG-/Google-Verstoß. Wieder einbinden, sobald
// ≥3 echte Google-Reviews freigegeben sind.
import Faq2 from "../components/v2/Faq2.astro";
import Booking2 from "../components/v2/Booking2.astro";
import CtaFinal2 from "../components/v2/CtaFinal2.astro";
import Footer2 from "../components/v2/Footer2.astro";
import "../styles/v2-azure.css";
---

<LayoutBare
  title="Jetski Lefkada Rentals · Ride the Ionian like a local"
  description="Rent a Sea-Doo jetski on Lefkada, Greece. Two 2024 models, a ten-minute safety briefing, and the best coves of the Ionian. Family-run by David &amp; Kristina Goldberg."
  themeColor="#071d30"
>
  <div class="v2">
    <Navbar2 />
    <Hero2 />
    <TrustMarquee2 />
    <Fleet2 />
    <HowItWorks2 />
    <Gallery2 />
    <Faq2 />
    <Booking2 />
    <CtaFinal2 />
    <Footer2 />
  </div>
</LayoutBare>
