---
import LayoutBare from "../layouts/LayoutBare.astro";
import Navbar2 from "../components/v2/Navbar2.astro";
import Hero2 from "../components/v2/Hero2.astro";
import TrustMarquee2 from "../components/v2/TrustMarquee2.astro";
import Experiences2 from "../components/v2/Experiences2.astro";
import Fleet2 from "../components/v2/Fleet2.astro";
import HowItWorks2 from "../components/v2/HowItWorks2.astro";
import Gallery2 from "../components/v2/Gallery2.astro";
import Spots2 from "../components/v2/Spots2.astro";
// Testimonials2 reaktiviert 2026-04-19 (Memory-Policy: project_no_fake_reviews.md).
// Stand-in-Zitate mit erfundenen Vornamen + Initialen + Herkunft sind als
// Übergang zulässig, SOLANGE: keine Plattform-Badges, kein Schema.org
// aggregateRating, keine Foto-Namens-Zuordnung, transparente Fußnote im Block.
// Ersetzen durch echte Google-Reviews sobald GBP live ist.
import Testimonials2 from "../components/v2/Testimonials2.astro";
import Faq2 from "../components/v2/Faq2.astro";
import Booking2 from "../components/v2/Booking2.astro";
import CtaFinal2 from "../components/v2/CtaFinal2.astro";
import Footer2 from "../components/v2/Footer2.astro";
import "../styles/v2-azure.css";
---

<LayoutBare
  title="Nero Lefkada · Fastest Jetskis on the Island"
  description="Rent a Sea-Doo jetski on Lefkada, Greece. Four supercharged Sea-Doo jetskis (2026 fleet: Nero Ena, Dio, Tria, Tessera), a ten-minute safety briefing, and the best coves of the Ionian."
  themeColor="#071d30"
>
  <div class="v2">
    <Navbar2 />
    <Hero2 />
    <TrustMarquee2 />
    <Experiences2 />
    <Fleet2 />
    <HowItWorks2 />
    <Gallery2 />
    <Spots2 />
    <Testimonials2 />
    <Faq2 />
    <Booking2 />
    <CtaFinal2 />
    <Footer2 />
  </div>
</LayoutBare>
